In [1]:
! pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.9/site-packages (2.9.1)

In [2]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

In [3]:
def create_db_engine():
    return create_engine('postgresql+psycopg2://dev_db_user:dev_db_pass@postgres_db:5432/dev_db')

In [4]:
engine = create_db_engine()

In [5]:
payments_df = pd.read_sql('SELECT * FROM machine_learning.c_payment', engine)

In [6]:
payments_df.describe()

,c_payment_id,ad_client_id,ad_org_id,createdby,updatedby,c_doctype_id,c_bankaccount_id,c_bpartner_id,c_invoice_id,c_paymentbatch_id,...,chargeamt,c_charge_id,ad_orgtrx_id,c_activity_id,user1_id,c_conversiontype_id,c_order_id,ref_payment_id,sourcedoc_id,allocatedamt
count,2.837660e+05,2.837660e+05,2.837660e+05,2.837660e+05,2.837660e+05,2.837660e+05,2.837660e+05,2.829980e+05,1.310850e+05,1.310000e+02,...,19963.0,4.456000e+03,6.267000e+03,6.007000e+03,5.986000e+03,2.078470e+05,3.010000e+03,4.000000e+00,4.455000e+03,2.837660e+05
mean,1.851978e+06,1.000150e+06,1.007569e+06,1.014975e+06,1.010147e+06,1.001493e+06,1.002443e+06,1.566458e+06,2.025194e+06,1.000106e+06,...,0.0,1.007764e+06,1.000297e+06,1.000150e+06,1.002324e+06,6.512688e+03,2.071931e+06,1.002452e+06,1.987420e+06,1.576868e+04
std,6.959360e+05,1.470352e+02,1.337358e+04,3.794156e+04,6.285165e+04,1.315072e+03,3.273928e+03,9.855167e+05,8.737735e+05,1.317201e+02,...,0.0,1.730945e+04,1.992017e+03,5.932301e+01,1.998417e+03,7.973409e+04,1.467567e+06,1.290994e+00,7.335003e+05,1.698493e+05
min,1.000003e+06,1.000001e+06,1.000002e+06,1.000002e+06,0.000000e+00,1.000042e+06,1.000000e+06,1.000003e+06,1.000045e+06,1.000000e+06,...,0.0,1.000001e+06,1.000002e+06,1.000039e+06,1.002265e+06,1.140000e+02,1.000522e+06,1.002450e+06,1.011342e+06,-1.119269e+07
25%,1.342824e+06,1.000005e+06,1.000098e+06,1.009690e+06,1.008807e+06,1.000237e+06,1.000449e+06,1.026336e+06,1.350216e+06,1.000056e+06,...,0.0,1.000010e+06,1.000139e+06,1.000142e+06,1.002266e+06,1.140000e+02,1.012411e+06,1.002451e+06,1.341049e+06,8.189000e+01
50%,1.543084e+06,1.000005e+06,1.002400e+06,1.016403e+06,1.011751e+06,1.000238e+06,1.001103e+06,1.060330e+06,1.700790e+06,1.000059e+06,...,0.0,1.000029e+06,1.000139e+06,1.000142e+06,1.002266e+06,1.140000e+02,1.073742e+06,1.002452e+06,1.771497e+06,2.723100e+02
75%,2.154706e+06,1.000298e+06,1.002402e+06,1.016868e+06,1.016867e+06,1.002813e+06,1.002478e+06,1.349901e+06,2.448516e+06,1.000061e+06,...,0.0,1.000419e+06,1.000139e+06,1.000142e+06,1.002266e+06,1.140000e+02,3.342835e+06,1.002452e+06,2.621314e+06,3.736992e+03
max,3.891166e+06,1.000298e+06,1.052440e+06,1.778111e+06,1.778111e+06,1.002814e+06,1.023041e+06,5.645368e+06,4.486976e+06,1.000572e+06,...,0.0,1.073734e+06,1.037159e+06,1.001310e+06,1.071792e+06,1.001597e+06,5.635464e+06,1.002453e+06,3.889325e+06,1.019864e+07

In [7]:
def eliminare_facturi_avans(df):
    df['datetrx'] = pd.to_datetime(df.datetrx)
    df.drop(df[df.datetrx < df.dateinvoiced].index, inplace=True)


def unpaid_balances(df):
    # Facturile care au o balanta negativa sunt eliminate deoarece reprezinta facturi platite integral
    df.drop(df[df.balance < 0].index, inplace=True)
    # Egalam valoarea facturii cu balanta ramasa de plata si o sa le tratam ca pe niste facturi neplatite

    df['grandtotal'] = df['balance']
    df['totalopenamt'] = df['balance']
    df['paidamt'] = 0
    df['allocatedamt'] = np.nan
    df['c_payment_id_paym'] = np.nan
    df['datetrx'] = np.nan
    df['c_doctype_id'] = np.nan
    df['tendertype'] = np.nan
    df['payamt'] = np.nan
    df['isallocated'] = np.nan
    df.drop(columns=['balance'], inplace=True)


def rename_columns(df):
    return df.rename(columns={'ad_org_id_x': 'ad_org_id', 'c_bpartner_id_x': 'c_bpartner_id',
                              'c_payment_id_x': 'c_payment_id', 'c_cashline_id_x': 'c_cashline_id'}, inplace=True)


def drop_columns(df):
    return df.drop(columns=['ad_org_id_y', 'c_bpartner_id_y', 'c_payment_id_y', 'c_cashline_id_y', 'amount'],
                   inplace=True)


def eliminare_avansuri(df):
    df['datetrx_y'] = pd.to_datetime(df.datetrx_y)
    df.drop(df[df.datetrx_y < df.dateinvoiced].index, inplace=True)
    
def updated_files(df):
    df['datetrx_x'] = df['datetrx_y']
    df['payamt_x'] = df['allocatedamt_x']
    df['c_doctype_id_x'] = df['c_doctype_id_y']
    df['tendertype_x'] = df['tendertype_y']
    df['isallocated_x'] = df['isallocated_y']
    df.drop(columns=['ad_org_id_y', 'datetrx_y', 'c_doctype_id_y', 'c_bpartner_id_y', 'c_invoice_id_y',
                     'tendertype_y', 'c_currency_id_y', 'payamt_y', 'isallocated_y', 'duedate_y', 'allocatedamt_y'],
            inplace=True)
    df.rename(
        columns={'c_invoice_id_x': 'c_invoice_id', 'ad_org_id_x': 'ad_org_id', 'c_bpartner_id_x': 'c_bpartner_id',
                 'c_currency_id_x': 'c_currency_id', 'duedate_x': 'duedate', 'datetrx_x': 'datetrx',
                 'c_doctype_id_x': 'c_doctype_id', 'tendertype_x': 'tendertype', 'payamt_x': 'payamt',
                 'isallocated_x': 'isallocated', 'allocatedamt_x': 'allocatedamt'}, inplace=True)

def get_merged_data():
        conn = engine
        SCHEMA = 'machine_learning'
        df1 = pd.read_sql(f'SELECT * from {SCHEMA}.c_invoice_cleaned WHERE AD_Client_ID = 1000298', conn)
        df2 = pd.read_sql(f'SELECT * from {SCHEMA}.c_allocationline_cleaned WHERE AD_Client_ID = 1000298', conn)
        df3 = pd.read_sql(f'SELECT * from {SCHEMA}.c_payment_cleaned WHERE AD_Client_ID = 1000298', conn)
        df4 = pd.read_sql(f'SELECT * from {SCHEMA}.c_paymentterm_cleaned WHERE AD_Client_ID = 1000298', conn)
        print('invoices')
        print(df1.shape)
        print('Numar clienti distincti: ',df1.ad_client_id.nunique())
        print(df1.columns)
        print('allocations')
        print(df2.shape)
        print('Numar clienti distincti: ',df2.ad_client_id.nunique())
        print(df2.columns)
        print('payments')
        print(df3.shape)
        print('Numar clienti distincti: ',df3.ad_client_id.nunique())
        print(df3.columns)
        print('terms')
        print(df4.shape)
        print('Numar clienti distincti: ',df4.ad_client_id.nunique())
        print(df4.columns)
        df1.drop(columns=['docstatus', 'ispayschedulevalid', 'isindispute', 'isreturntrx'], inplace= True)
        df2.drop(columns=[ 'discountamt', 'writeoffamt', 'c_invoicepayschedule_id'], inplace= True)
        df3.drop(columns=[ 'isreceipt', 'discountamt', 'writeoffamt', 'docstatus', 'isprepayment'], inplace= True)
        df4.drop(columns=[ 'ad_org_id', 'name', 'gracedays', 'value'], inplace= True)

        # merge invoices cu payment terms
        # Exista foarte multe facturi care au data scadenta lipsa. Vom calcula duedate in functie de termenele de plata
        d1 = pd.merge(df1, df4, how='left', on=["c_paymentterm_id","ad_client_id"])

        # Sunt multe facturi care au data scadenta inainte de data emiterii facturii. Vom elimina aceste facturi din model
        d1 = d1[d1.dateinvoiced <= d1.duedate]

        # Adaugam o coloana calculata de tip data pentru a completa valorile lipsa in coloana duedate
        d1['dateinvoiced'] = pd.to_datetime(d1.dateinvoiced)
        d1['duedate_calculated'] = d1['dateinvoiced'] + pd.to_timedelta(d1['netdays'], unit='d')
        d1['duedate_calculated'] = pd.to_datetime(d1.duedate_calculated)
        d1.loc[d1['duedate'] == '\\N', 'duedate'] = d1['duedate_calculated']
        d1['duedate'] = pd.to_datetime(d1.duedate)

        # Nu mai avem nevoie de aceste coloane in continuare
        d1.drop(columns=['c_paymentterm_id', 'netdays', 'duedate_calculated'], inplace=True)

        # merge invoices cu payments
        # Vom extrage din tabela de plati acele plati unice pentru o factura
        t1 = pd.merge(d1, df3, how='left', on=["c_invoice_id", "ad_client_id"])
        t1 = t1.rename(
            columns={'ad_org_id_x': 'ad_org_id', 'c_bpartner_id_x': 'c_bpartner_id', 'c_currency_id_x': 'c_currency_id',
                     'c_payment_id_x': 'c_payment_id', 'duedate_x': 'duedate', 'c_payment_id_y': 'c_payment_id_paym'})
        t1.drop(columns=['ad_org_id_y', 'c_bpartner_id_y', 'c_currency_id_y', 'duedate_y'], inplace=True)

        # Impartim setul de date t1 in mai multe subseturi

        # Facturi platite integral
        # Atunci cand paidamt == grandtotal => factura a fost platita in totalitate
        # Daca se satisface conditia de mai sus si paidamt == allocatedamt => facturi achitate integral printr-o singura plata
        fully_paid = t1[(t1.paidamt == t1.allocatedamt) & (t1.paidamt == t1.grandtotal)]

        # Din totalul facturilor le eliminam pe cele platite integral printr-o singura tranzactie
        t1 = t1.drop(fully_paid.index)

        # Vom elimina din setul de date facturile platite in avans si le vom pastra doar pe cele platite dupa emiterea facturii

        eliminare_facturi_avans(fully_paid)

        # Facturi platite partial
        # Vom extrage in continuare facturile platite partial printr-o singura tranzactie
        partially_paid = t1[t1.paidamt == t1.allocatedamt]

        # Eliminam din setul de date initial facturile extrase mai sus
        t1 = t1.drop(partially_paid.index)

        # Eliminam facturile platite in avans
        eliminare_facturi_avans(partially_paid)

        # Determinam restul de plata pentru facturi
        partially_paid['balance'] = partially_paid['grandtotal'] - partially_paid['paidamt']

        # Este necesara copierea setului de date deoarece facturile sunt platite partial;
        # vom extrage soldul ramas al facturilor

        unpaid_balance = partially_paid.copy()

        unpaid_balances(unpaid_balance)

        # Exista facturi care au fost platite cu o suma mai mare decat cea din factura
        # Vom scadea soldul suplimentar pentru a ajunge la valoarea facturii
        partially_paid['allocatedamt'] = partially_paid[['allocatedamt', 'balance']].apply(
            lambda t: (t[0] + t[1]) if t[1] < 0 else t[0], axis=1)
        partially_paid['grandtotal'] = partially_paid['allocatedamt']
        partially_paid['totalopenamt'] = partially_paid['allocatedamt']
        partially_paid['paidamt'] = partially_paid['allocatedamt']
        partially_paid['payamt'] = partially_paid['allocatedamt']
        partially_paid.drop(columns=['balance'], inplace=True)

        # Facturi platite in mai multe transe
        # Extragem toate facturile care apar cu sume platite
        partially_paid_2 = t1[t1.datetrx.notnull()]
        t1 = t1.drop(partially_paid_2.index)

        # Extragem facturile platite integral, urmand sa facem merge cu allocations pentru a extrage datele referitoare la sumele alocate
        partially_paid_3 = partially_paid_2[partially_paid_2.grandtotal == partially_paid_2.paidamt]

        partially_paid_2['grandtotal'] = partially_paid_2['allocatedamt']
        partially_paid_2['totalopenamt'] = partially_paid_2['allocatedamt']
        partially_paid_2['paidamt'] = partially_paid_2['allocatedamt']

        # Extragem facturile care apar a fiind integral neplatite
        unpaid_invoices = t1[t1.paidamt == 0]
        t1 = t1.drop(unpaid_invoices.index)

        # Vom lega facturile care apar ca fiind platite/partial platite, dar in mai multe transe, cu tabela de alocari
        t2 = pd.merge(t1, df2, how='left', on=["c_invoice_id","ad_client_id"])

        # eliminam facturile care apar platite dar pentru care nu avem date
        paid_nodata = t2[t2.amount.isna()]
        t2 = t2.drop(paid_nodata.index)

        # Extragem facturile platite integral
        fully_paid_2 = t2[(t2.paidamt == t2.amount) & (t2.paidamt == t2.grandtotal)]
        t2 = t2.drop(fully_paid_2.index)

        # Din facturile platite integral vom extrage acele facturi care au fost achitate cu cash
        cash_paid = fully_paid_2[((fully_paid_2.c_cashline_id_y != 0) & (fully_paid_2.c_payment_id_y == 0))]
        fully_paid_2 = fully_paid_2.drop(cash_paid.index)
        cash_paid['payamt'] = cash_paid['amount']
        cash_paid['allocatedamt'] = cash_paid['amount']
        cash_paid['c_cashline_id_x'] = cash_paid['c_cashline_id_y']
        cash_paid['datetrx'] = cash_paid['dateinvoiced']

        rename_columns(cash_paid)
        drop_columns(cash_paid)

        # Dupa ce am eliminat facturile platite cu cash, vom procesa restul facturilor platite integral.
        # Acestea vor trebui legate din nou cu tabela de plati deoarece data tranzactiei este duplicat pentru aceeasi factura.
        fully_paid_2['c_payment_id_paym'] = fully_paid_2['c_payment_id_x']
        fully_paid_2['allocatedamt'] = fully_paid_2['amount']
        fully_paid_2['c_payment_id_x'] = fully_paid_2['c_payment_id_y']

        rename_columns(fully_paid_2)
        drop_columns(fully_paid_2)

        # Extrgem facturile platite partial.
        # Pentru cele cu o valoare platita mai mare decat valoarea facturii, vom regla sumele.
        # Pentru cele platite partial vom extrage si separa facturile, calculand soldul ramas.
        paid1 = t2[(t2.paidamt == t2.amount) & (t2.c_payment_id_y != 0)]
        t2 = t2.drop(paid1.index)
        paid1['balance'] = paid1['grandtotal'] - paid1['paidamt']

        unpaid_balance2 = paid1.copy()
        unpaid_balances(unpaid_balance2)
        rename_columns(unpaid_balance2)
        drop_columns(unpaid_balance2)

        paid1['amount'] = paid1[['amount', 'balance']].apply(lambda t: (t[0] + t[1]) if t[1] < 0 else t[0], axis=1)
        paid1['grandtotal'] = paid1['amount']
        paid1['paidamt'] = paid1['amount']
        paid1['totalopenamt'] = paid1['amount']
        paid1['allocatedamt'] = paid1['amount']
        paid1['c_payment_id_paym'] = paid1['c_payment_id_x']
        paid1['c_payment_id_x'] = paid1['c_payment_id_y']

        rename_columns(paid1)
        paid1.drop(columns=['balance'], inplace=True)
        drop_columns(paid1)

        # Extragem facturile platite integral prin mai multe transe.
        fully_paid_3 = t2[(t2.paidamt == t2.grandtotal)]
        t2 = t2.drop(fully_paid_3.index)

        # Dintre facturile platite integral prin mai multe transe, extragem facturile platite cu cash.
        cash_paid2 = fully_paid_3[fully_paid_3.c_cashline_id_y != 0]
        fully_paid_3 = fully_paid_3.drop(cash_paid2.index)

        cash_paid2['payamt'] = cash_paid2['amount']
        cash_paid2['allocatedamt'] = cash_paid2['amount']
        cash_paid2['grandtotal'] = cash_paid2['amount']
        cash_paid2['totalopenamt'] = cash_paid2['amount']
        cash_paid2['c_cashline_id_x'] = cash_paid2['c_cashline_id_y']
        cash_paid2['datetrx'] = cash_paid2['dateinvoiced']

        rename_columns(cash_paid2)
        drop_columns(cash_paid2)

        # Dupa ce am eliminat din setul de date facturile platite cu cash, vom prelucra datele.
        # Acest set de date va trebui sa fie legat din nou cu tabela de plati pentru a extrage datele tranzactiei.
        fully_paid_3['grandtotal'] = fully_paid_3['amount']
        fully_paid_3['totalopenamt'] = fully_paid_3['amount']
        fully_paid_3['paidamt'] = fully_paid_3['amount']
        fully_paid_3['allocatedamt'] = fully_paid_3['amount']
        fully_paid_3['c_payment_id_paym'] = fully_paid_3['c_payment_id_x']
        fully_paid_3['c_payment_id_x'] = fully_paid_3['c_payment_id_y']

        rename_columns(fully_paid_3)
        drop_columns(fully_paid_3)

        # Eliminam facturile care apar platite dar nu au nici o referinta a platii.
        de_eliminat = t2[(t2.c_payment_id_y == 0) & (t2.c_cashline_id_y == 0)]
        t2 = t2.drop(de_eliminat.index)

        # Din restul facturilor ramase, vom extrage acele facturi care au fost platite cu cash.
        cash_paid3 = t2[t2.c_cashline_id_y != 0]
        t2 = t2.drop(cash_paid3.index)
        cash_paid3['grandtotal'] = cash_paid3['amount']
        cash_paid3['totalopenamt'] = cash_paid3['amount']
        cash_paid3['paidamt'] = cash_paid3['amount']
        cash_paid3['payamt'] = cash_paid3['amount']
        cash_paid3['allocatedamt'] = cash_paid3['amount']
        cash_paid3['c_cashline_id_x'] = cash_paid3['c_cashline_id_y']
        cash_paid3['datetrx'] = cash_paid3['dateinvoiced']

        rename_columns(cash_paid3)
        drop_columns(cash_paid3)

        #
        t2['grandtotal'] = t2['amount']
        t2['totalopenamt'] = t2['amount']
        t2['paidamt'] = t2['amount']
        t2['allocatedamt'] = t2['amount']
        t2['c_payment_id_paym'] = t2['c_payment_id_x']
        t2['c_payment_id_x'] = t2['c_payment_id_y']

        rename_columns(t2)
        drop_columns(t2)

        # Merge fisiere cu alocations
        p1 = pd.merge(partially_paid_3, df2, how='left', on=["c_invoice_id","ad_client_id"])
        p1['grandtotal'] = p1['amount']
        p1['totalopenamt'] = p1['amount']
        p1['paidamt'] = p1['amount']
        p1['allocatedamt'] = p1['amount']

        cash_paid4 = p1[p1.c_cashline_id_y != 0]
        p1 = p1.drop(cash_paid4.index)
        cash_paid4['payamt'] = cash_paid4['amount']
        cash_paid4['c_cashline_id_x'] = cash_paid4['c_cashline_id_y']
        cash_paid4['datetrx'] = cash_paid4['dateinvoiced']
        cash_paid4['c_payment_id_paym'] = np.nan
        cash_paid4['c_doctype_id'] = np.nan
        cash_paid4['tendertype'] = np.nan
        cash_paid4['isallocated'] = np.nan

        rename_columns(cash_paid4)
        drop_columns(cash_paid4)

        rename_columns(p1)
        drop_columns(p1)

        fp1 = pd.merge(fully_paid_2, df3, how='left', on=["c_payment_id","ad_client_id"])
        fara_info = fp1[fp1.datetrx_y.isna()]
        fp2 = fp1[fp1.datetrx_y.notnull()]
        eliminare_avansuri(fp2)
        updated_files(fp2)

        p2 = pd.merge(paid1, df3, how='left', on=["c_payment_id","ad_client_id"])
        eliminare_avansuri(p2)
        updated_files(p2)

        p3 = pd.merge(fully_paid_3, df3, how='left', on=["c_payment_id","ad_client_id"])
        fara_info2 = p3[p3.datetrx_y.isna()]
        p3 = p3[p3.datetrx_y.notnull()]

        eliminare_avansuri(p3)
        updated_files(p3)

        p4 = pd.merge(t2, df3, how='left', on=["c_payment_id","ad_client_id"])
        fara_info3 = p4[p4.datetrx_y.isna()]
        p4 = p4[p4.datetrx_y.notnull()]

        eliminare_avansuri(p4)
        updated_files(p4)

        df = pd.concat(
            [fully_paid, partially_paid, unpaid_balance, partially_paid_2, cash_paid, p1, unpaid_invoices, cash_paid4,
             fp2, unpaid_balance2, p2, cash_paid2, cash_paid3, p3, p4])
        df = df[df.c_currency_id == 346]
        df.drop(columns=['c_currency_id'], inplace=True)
        return df

In [8]:
# df = get_merged_data()

invoices
(246747, 19)
Numar clienti distincti:  1
Index(['c_invoice_id', 'ad_client_id', 'ad_org_id', 'docstatus',
       'dateinvoiced', 'c_bpartner_id', 'c_bpartner_location_id',
       'c_currency_id', 'paymentrule', 'c_paymentterm_id', 'grandtotal',
       'c_payment_id', 'c_cashline_id', 'ispayschedulevalid', 'isindispute',
       'isreturntrx', 'duedate', 'totalopenamt', 'paidamt'],
      dtype='object')
allocations
(162434, 11)
Numar clienti distincti:  1
Index(['c_allocationline_id', 'ad_client_id', 'ad_org_id', 'c_invoice_id',
       'c_bpartner_id', 'c_payment_id', 'c_cashline_id', 'amount',
       'discountamt', 'writeoffamt', 'c_invoicepayschedule_id'],
      dtype='object')
payments
(121406, 18)
Numar clienti distincti:  1
Index(['c_payment_id', 'ad_client_id', 'ad_org_id', 'datetrx', 'isreceipt',
       'c_doctype_id', 'c_bpartner_id', 'c_invoice_id', 'tendertype',
       'c_currency_id', 'payamt', 'discountamt', 'writeoffamt', 'docstatus',
       'isallocated', 'isprepayment', 'duedate', 'allocatedamt'],
      dtype='object')
terms
(299, 7)
Numar clienti distincti:  1
Index(['c_paymentterm_id', 'ad_client_id', 'ad_org_id', 'name', 'netdays',
       'gracedays', 'value'],
      dtype='object')

/tmp/ipykernel_33/341862949.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['datetrx_y'] = pd.to_datetime(df.datetrx_y)
/opt/conda/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/tmp/ipykernel_33/341862949.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['datetrx_x'] = df['datetrx_y']
/tmp/ipykernel_33/341862949.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['payamt_x'] = df['allocatedamt_x']
/tmp/ipykernel_33/341862949.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['c_doctype_id_x'] = df['c_doctype_id_y']
/tmp/ipykernel_33/341862949.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tendertype_x'] = df['tendertype_y']
/tmp/ipykernel_33/341862949.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['isallocated_x'] = df['isallocated_y']
/opt/conda/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [9]:
# print(df.shape)
# print('Valori distincte c_bpartner_id: ',df.c_bpartner_id.nunique())
# print('Numar facturi distincte: ',df.c_invoice_id.nunique())

(225159, 21)
Valori distincte c_bpartner_id:  130435
Numar facturi distincte:  222951